body {
  font-family: "Hiragino Kaku Gothic ProN";

}

.header-logo {
  background-color: #000000;
  color: #FFFFFF;
  height: 50px;
  padding: 5px, 0px;
  text-align: center;
  font-size: 24px;
}

.main{
  padding left: 10px
}

.picture{
  width: 10% ;
  height: auto ;
}
  
.date {
  color: #AAAAAA;
  font-size: 14px;
  margin-bottom: 5px;
}

.career {
  border-bottom: 1px solid #222222;
}
 
.footer {
  background-color: #C0C0C0;
  color: #FFFFFF;
  height: 36px;
}

.footer-logo {
  float: left;
  font-size: 18px;
  padding-left: 10px;
}

.footer-list {
  float: right;
  font-size: 18px;
  padding-right: 10px;
}
