* {
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

a {
  text-decoration: none;
}

.header logo {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.header-list {
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}
